/* =global */
* {
    font-family: 'Solway', serif;
}

body {
    align-items: center;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}

button {
    outline: none;
}
/*—————*/


/* =header */
.title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-h1 {
    font-size: 35px;
    margin-bottom: 0;
    position: relative;
}

.fa-coffee {
    color: rgb(124, 82, 202);
    height: 30px;
    margin-left: 15px;
    width: 35px;
}

.title-p {
    font-size: 20px;
}
/*—————*/


/* =main */
.fa-question-circle {
    color: grey;
}

.number-of-questions {
    font-size: 17px;
}

.quiz {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    height: 550px;
    position: relative;
    width: 800px;
}

.initial-instructions {
    align-items: center;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.instruction {
    font-size: 25px;
    position: relative;
    top: 100px;
}

.start {
    background-color: rgb(65, 199, 125);
    border: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 0px 0px rgb(51, 155, 98);
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 75px 10px 15px;
    position: relative;
    outline: none;
    top: 150px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.start:hover {
    background-color: rgb(77, 218, 140);
}

.fa-play-circle {
    margin-right: 10px;
}

.notice {
    font-size: 20px;
    position: relative;
    top: 225px;
}

.quiz-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.fa-dot-circle {
    color: rgb(197, 0, 0);
}

.quiz-header>p {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px 5px;
    margin: 10px;
    padding: 5px 10px;
}

.question-area {
    display: none;
    height: 200px;
    position: relative;
    top: 25px;
}

.question {
    color: rgb(29, 0, 110);
    font-size: 18px;
    margin: 11px;
}

.quiz-line {
    border: 1px solid rgb(219, 219, 219);
    display: none;
    margin: 11px;
}

.division-text {
    color: rgb(71, 66, 82);
    display: none;
    margin-left: 30px;
}

.choice-area {
    display: none;
    flex-direction: row;
    width: 100%;
}

.choice-area>div {
    display: flex;
    flex-direction: column;
}

.choice-area>p {
    color: rgb(29, 0, 110);
}

.choice-column2 {
    left: 200px;
    position: relative;
}

.choice {
    background-color: rgb(196, 196, 196);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 11px;
    padding: 10px;
    position: relative;
    top: -5px;
}

.next-button {
    background-color: rgb(124, 82, 202);
    border: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 0px 0px rgb(96, 59, 163);
    color: white;
    cursor: pointer;
    display: none;
    font-size: 18px;
    left: 650px;
    padding: 10px 50px 10px 10px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: background-color;
    top: 15px;
}

.next-button:hover {
    background-color: rgb(151, 111, 226);
}

.fa-arrow-alt-circle-right {
    margin-right: 5px;
}
/*—————*/